In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = DataFrame(np.arange(16).reshape((4, 4)), index = list('abcd'), columns = list('wxyz'))
data

    w   x   y   z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [4]:
# 选择列
data['w']

a     0
b     4
c     8
d    12
Name: w, dtype: int32

In [5]:
data.w

a     0
b     4
c     8
d    12
Name: w, dtype: int32

In [6]:
# 返回为DataFrame
data[['w']]

    w
a   0
b   4
c   8
d  12

In [35]:
# 多列
data[['w', 'z']]

    w   z
a   0   3
b   4   7
c   8  11
d  12  15

In [45]:
# 连续列选取
data[[0,1,2]]

    w   x   y
a   0   1   2
b   4   5   6
c   8   9  10
d  12  13  14

In [26]:
# 最后一列
data[data.columns[-1]]

a     3
b     7
c    11
d    15
Name: z, dtype: int32

In [27]:
# 选择行
data.ix[0]

w    0
x    1
y    2
z    3
Name: a, dtype: int32

In [46]:
# 连续行选取
data[0:2]

   w  x  y  z
a  0  1  2  3
b  4  5  6  7

In [47]:
# 最后一行
data.iloc[-1]

w    12
x    13
y    14
z    15
Name: d, dtype: int32

In [48]:
# iloc可以解决基本所有的问题
# 具体位置选取
data.iloc[0,0]

0

In [49]:
# 行选取
# 单行选取
data.iloc[0,:]

w    0
x    1
y    2
z    3
Name: a, dtype: int32

In [50]:
# 多行选取
data.iloc[1:2, :]

   w  x  y  z
b  4  5  6  7

In [51]:
# 最后一行选取
data.iloc[-1, :]

w    12
x    13
y    14
z    15
Name: d, dtype: int32

In [52]:
# 列选取
# 单列选取
data.iloc[:, 0]

a     0
b     4
c     8
d    12
Name: w, dtype: int32

In [53]:
# 多列选取
data.iloc[:, 0:2]

    w   x
a   0   1
b   4   5
c   8   9
d  12  13

In [54]:
# 最后一列选取
data.iloc[:, -1]

a     3
b     7
c    11
d    15
Name: z, dtype: int32

In [ ]:
# 总结
# data[1,2,3] 是做行筛选
# data[[1,2,3]] 是做列筛选
# data['a','b'] 也是做列筛选
# 行列都可以的, 最好用iloc